.output-container{
  margin: auto;
  width: 32%;
  background: rgb(236, 234, 231);
  margin-top: 2%;
  border-radius: 2%;
  padding: 0.5%; /* Added padding to give some space inside the container */
  box-sizing: border-box; 
}

.list-user li{
  list-style: none;
  border: 1px solid red;
  padding:1% 1%;
  color: black;
  font-weight: bold;
  margin: 2%;
  cursor: pointer;
}

.list-user{
  margin-left: -8%;
}
